.wrapper, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    font-family: arial, sans-serif;
    overflow: hidden;
}

body {
   color: #000000;
   height: 100%;
   margin: 0px;
   width: 100%;
   
}

.container {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.logo {
    height: 92px;
    width: 272px
    }

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.header {
list-style-type: none; 
margin: 0px;
padding: 10px;
border: 0px;
font-size: 14px;
align-items: center;
}

.cm {
display: flex;
align-content: center;
justify-content: center;
width: 100vw;
padding: 10px;
}

.footer {
list-style-type: none; 
margin: 0px;
padding: 10px;
border: 0px;
font-size: 14px;
background-color: #f2f2f2;
}

.profile {
    width: 2.5em;
    height: auto;
    border-radius: 50%;
}

.apps {
    width: 2em;
    height: auto;
    fill: rgb(117, 118, 119);
    color: rgb(95, 99,104);
}

.search {
    width: 360px;
    height: 34px;
    font-size: 14px;
    border-style: none;
    outline: none;
    margin-top: 2px;
}

a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tr {
    margin-left: auto;
}

.button {    
    width: 100%;
    
    
    
              }

button {
    margin: .3em;
    border-radius: 0%;
    border: none;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px; 
    text-align: center;
    margin-top: 20px;
    background-color: #f8f9fa;
    color: #3c4043;
}

button:hover{
    color: black;
    box-shadow: 0 1px 1px rgba(0,0,0,.1)   
}

.s1 { 
    font-size: 12px;
    padding: 0.2em;
}

.sborder {
    display: flex;
    border: 1px solid;
    border-color: #dfe1e5;
    border-radius: 20px;
    padding-right: 70px;
    padding-left: 70px;
    align-content: center;
    margin: 0 auto;
    padding: px;
    height: 44px
}

.simg {
    display: float;
    margin-top: 8px;
    margin-left: -60px;
    opacity: 20%;
    height: 30px;
    width: 30px;
    
}